
body {
    padding: 0;
    margin: 0;
    background-color: #1B1C1E;
    font-family: 'Libre Franklin', sans-serif;
    width: 100vw;

}




        /* HEADER TOUTES LES PAGES */

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F6F6F6;
        padding: 2%;
        height: 2vh;
}

h1 {
        font-size: 3rem;
        color: #1B1C1E;
}
    
.fleches_nav {
        width: 50px;
        margin: 1%;
}


@media only screen and (max-width : 980px) {
	h1 {
        font-size: 2.5rem;
    }
    .fleches_nav {
    width: 50px;
    margin: 2%;
    }
}

@media only screen and (max-width: 400px) { 
	h1 {
        font-size: 0.7rem;
    }
    .fleches_nav {
    width: 20px;
    margin: 3%;
    }
}



    /* Header : Retour à l'index par jbc */

/* unvisited link */
.retourindex:link {
    color: #1B1C1E;
    text-decoration: none;
}
  
  /* visited link */
.retourindex:visited {
    color: #1B1C1E;
    text-decoration: none;
}
  
  /* mouse over link */
.retourindex:hover {
    color: #1B1C1E;
    text-decoration: none;
}
  
  /* selected link */
.retourindex:active {
    color: #1B1C1E;
    text-decoration: none;
}



        /* INTRO TOUTES LES PAGES */

h2 {
    margin:0;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 0;
    font-size: 4rem;
    color: #F6F6F6;
    text-align: center;
}

.textePresentation {
    margin:0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #F6F6F6;
    text-align: center;
    margin-bottom: 3%;
}

.textePresentation_fin {
    margin-bottom: 10%;
}

h3 {
    color: #F6F6F6;
    margin-left: 22%;
    font-size: 1.5em;
}

@media only screen and (max-width : 980px) {
    h2 {
        font-size: 3rem;
    }
    h3 { 
		font-size: 1rem;
	}
    .textePresentation {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 400px) { 
	h2 {
        font-size: 1rem;
    }h3 { 
		font-size: 0.5rem;
	} 
    .textePresentation {
        font-size: 0.4rem;
    }
}



        /* INDEX */

.welcome {
    width: 100vw;
    height: 98vh;
    background-image: url(assets/background_index/background_index.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jpgCorner {
    position: absolute;
    background-color:#1B1C1E;
    -webkit-box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.78); 
    box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.78);
    opacity: 0.9;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    

}

.acceuil_titre {
    color: #F6F6F6;
    font-size: 5em;
    text-align: center;
    margin:0;
}

.acceuil_texte {
    color: #F6F6F6;
    font-size: 1em;
    text-align: center;
}


@media only screen and (max-width : 980px) {
    .acceuil_titre { 
		font-size: 4em;
	}
}

@media only screen and (max-width: 400px) { 
	.acceuil_titre { 
		font-size: 1.5em;
	}
}










        /* NAV */

nav {
    background-color: #1B1C1E;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #F6F6F6;
}

a:link {
    text-decoration: none;
    color: #F6F6F6;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    text-align: center;
    line-height: 5rem;
}

/* hover link */
.navlink:hover {
  font-size: 7rem;  
}

/* visited link */
.navlink:visited {
    color: #F6F6F6;
}
  
/* mouse over link */
.navlink:hover {
    color: #F6F6F6;
}
  
/* selected link */
.navlink:active {
color: #F6F6F6;
}


@media only screen and (max-width : 980px) {
    ul { 
		font-size: 5em;
        line-height: 1em;
	}
    .navlink:hover {
        font-size: 6.5rem;  
      }
}


        /* PAGE AUTOPILOTE */

#fond_autopilote {    
    background-image: url(assets/autopilote/fond_autopilote.png);
    background-size: contain;
    background-repeat: repeat;
}


/* Page Autopilote grille flexbox */

img {
  width: 98%;
  margin: 1%;
}

.container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.colonneGauche {
    display: flex;
    flex-direction: column;
    padding-bottom: 33%;
}

.colonneDroite {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.a2 , .a3 , .a6  , .a8, .a9 {
    margin-top: 55%;
}

.a1 , .a4 , .a5, .a7, .a10 {
    margin-top: 20%;
}











        /* PAGE UTOPIE */

.main_utopie {
    background-color: #1A0635;
    background-size:auto;
    background-repeat: repeat;
}

#main_utopie {
    background-image: url(assets/utopie/fond_utopie.png);
    background-size: contain;
    background-repeat: repeat;
    margin-bottom: 10%;
}

.bois , .eau , .arches2 {
     margin-bottom: 20%;
}

.fontaines2 {
    margin-bottom: 7%;
}

.legendes {
    font-style: italic;
    color: #F6F6F6;
    text-align: center;
    font-size: 0.7rem;
    margin: 5%;
}

.legendes_fontaines {
    transform: translateY(55px);
    margin-bottom: 15%;
}

.tableaux {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.recherches {
    width: 33%;
    margin-left: 27%;

}

.recherches2 {
    margin-left: 44%;
}


.arches {
    display: grid;
    grid-template-columns: 50%  50%;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.tableaux_arches_1 {
    grid-column: 1;
    grid-row: 1;
}

.tableaux_arches_2 {
    grid-column: 2;
    grid-row: 2;
    margin-left: -33px;
    margin-bottom: 4%;
}


.fontaines {
    display: flex;
    justify-content: center;
}

.tableaux_fontaine {
    width: 45%;
}


.tableaux_fontaine_1 {
    transform: translateY(66px);
}


@media only screen and (max-width : 980px) {
    .legendes { 
		font-size: 0.5em;
    
	}
}

@media only screen and (max-width: 400px) { 
	.legendes { 
		font-size: 0.1em;
    
	}  
}









        /* Page hellPosters */

.fond_autopilote {    
    background-image: url(assets/hellPosters/fond_hellPosters.png);
    background-size: contain;
    background-repeat: repeat;
}

.hellPosters_grid {
    display: grid;
    grid-template-columns: 50%  50%;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.y1 {
    grid-column: 1/2;
    grid-row: 1;
}

.y2 {
    grid-column: 2/2;
    grid-row: 1;
}

.y3 {
    grid-column: 1/2;
    grid-row: 2;
}

.y4 {
    grid-column: 2/2;
    grid-row: 2;
}

.y5 {
    grid-column: 1/2;
    grid-row: 3;
}

.y6 {
    grid-column: 2/2;
    grid-row: 3;
}

.y7 {
    grid-column: 1/2;
    grid-row: 4;
    height: 100%;
}

.y8 {
    grid-column: 2/2;
    grid-row: 4;
}

.y9 {
    grid-column: 1/2;
    grid-row: 5;
}

.y10 {
    grid-column: 2/2;
    grid-row: 5;
}


















        /* CONTACT */

.icons {
    width: 4%;
    margin-left: 15%;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 11%;
}

.contact_fin {
    margin-bottom: 10%;
}

.texteContact {
    margin:0;
    padding: 0;
    font-size: 1rem;
    line-height: 3rem;
    color: #F0FFFF;
    text-align:center;
    margin-bottom: 5%;
    margin-top: 1%;
}

/* unvisited link */
.link_reseaux:link {
    color: #F0FFFF;
    text-decoration: underline;
  }
  
  /* visited link */
  .link_reseaux:visited {
    color: #F0FFFF;
    text-decoration: none;
  }
  
  /* mouse over link */
  .link_reseaux:hover {
    color: #F0FFFF;
    text-decoration: none;
  }
  
  /* selected link */
  .link_reseaux:active {
    color: #F0FFFF;
    text-decoration: none;
  }

@media only screen and (max-width: 400px) { 
	.icons { 
		width: 5%;
	}
    .link_reseaux {
        font-size: 1rem;
    }
}

@media only screen and (max-width : 980px) {
    .icons { 
		width: 5%;
	}
    .texteContact {
        font-size: 0.5rem;
    }
}












        /* ABOUT */


#about_fond {
    background-color: #F6F6F6;
    background-image: url(assets/ligneBus_about/ligneBus_about_2.png);
    background-position: center;
}



.container_about {
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2%;
    margin: 3%;
    padding: 5%;
}

.h2_about {
    color: #1B1C1E;
    text-align: left;
    padding: 0;
    margin: 0;
}


.p1 {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 1em;
    width: 100%;
}

.p2 {
    grid-column: 3/3;
    grid-row: 1;
    font-size: 1em;
    width: 100%;
}

.p3 {
    grid-column: 1/3;
    grid-row: 2;
    font-size: 2em;
    width: 70%;
}

.p4 {
    grid-column: 1/3;
    grid-row: 3;
    font-size: 2em;
    width: 70%;
}

.p5 {
    grid-column: 3/3;
    grid-row: 4;
    font-size: 2em;
    width: 70%;
}

.p6 {
    grid-column: 3/3;
    grid-row: 5;
    font-size: 2em;
    width: 70%;

}

.p7 {
    grid-column: 3/3;
    grid-row: 6;
    font-size: 2em;
    width: 70%;
}

.p8 {
    grid-column: 1/3;
    grid-row: 7;
    font-size: 2em;
    width: 70%;
}

.p9 {
    grid-column: 1/3;
    grid-row: 8;
    font-size: 2em;
    width: 70%;
    margin-bottom: 44%;
}

@media only screen and (max-width : 980px) {
    .p1 , .p2 , .p3 , .p4 , .p5 , .p6 , .p7 , .p8 , .p9 { 
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 400px) { 
	.p1 , .p2 , .p3 , .p4 , .p5 , .p6 , .p7, .p8 , .p9 { 
		font-size: 0.5em;
	}
   
}


        /* FOOTER TOUTES LES PAGES */

.retourHaut {
    margin: 3%;
    display: flex;
    justify-content: flex-end;
}

.symboleCopyright {
    width: 25px;
    height: 25px;
    margin: 1%;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #F6F6F6;
}

@media only screen and (max-width : 980px) {
   .symboleCopyright { 
		width: 20px;
        height: 20px;
	}
    .JBC {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) { 
	.symboleCopyright { 
		width: 15px;
        height: 15px;
	}
    .JBC_copyright {
        font-size: 0.5rem;
    }
}
